.containers {
    margin: 10;
    padding: 10;
    font-family: Montserrat;
    background-image: url("https://i.pinimg.com/originals/32/48/9c/32489cab069dc21a05632018d8854086.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
 }
 
 .center {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 400px; 
     background: white;
     border-radius: 10px;
 }
 
 .center h1 {
     font-size: 32px;
     text-align: center;
     padding: 0 0 0px 0;
     border-bottom: 1px solid silver;
 }
 
 .center form {
     padding: 0 40px;
     box-sizing: border-box;
 }
 
 .txt_field {
     position: relative;
     border-bottom: 2px solid #adadad;
     margin: 30px 0;
 }
 
 .txt_field input {
     width: 100%;
     padding: 0 5px;
     height: 40px;
     font-size: 16px;
     border: none;
     background: none;
     outline: none;
 }
 
 .txt_field label {
     position: absolute;
     top: 50%;
     left: 5px;
     color: #adadad;
     transform: translateY(-50%);
     font-size: 16px;
     pointer-events: none;
     transition: .5s;
 }
 
 .txt_field span::before {
     content: '';
     position: absolute;
     top: 40px;
     left: 0;
     width: 100%;
     height: 2px;
     background: #000000;
     transition: .5s;
 }
 
 .txt_field input:focus ~ label,
 .txt_field input:focus ~ label {
     top: -5px;
     color: #58595a;
 }
 
 .txt_field input:focus ~ span::before,
 .txt_field input:focus ~ span::before {
     width: 100%;
 }
 
 .submit {
     width: 100%;
     height: 50px;
     border: 1px solid;
     background: #3c3d3d;
     border-radius: 25px;
     font-size: 18px;
     color: #e9f4fb;
     font-weight: 700;
     cursor: pointer;
     outline: none;
 }
 
 .submit:hover {
     border-color: #000000;
     transition: .5s;
 }
 
 .pass {
     margin: -5px 0 20px 5px;
     color: #000000;
     cursor: pointer;
 }
 
 